body {
    background-color: #2D3E50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: white;
    margin: 0 20px;
}

.week-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.week-button {
    font-size: 4em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 20px;
    margin: 0 10px;
    line-height: 1;
    text-align: center;
}

.week-button:focus {
    outline: none;
}

p {
    font-size: 3em;
    text-align: center;
    color: white;
}

.date-range {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.date-range .date,
.date-range .dash {
    white-space: nowrap;
    padding: 0 10px;
}

/* Mobile styles */
@media (max-width: 600px) {
    .date-range {
        flex-wrap: wrap;
        text-align: center;
    }

    .date-range .dash {
        width: 100%;
    }
}